<script>
    function WebDocumentViewer_Init(s, e) {
        s.GetPreviewModel().reportPreview.zoom(1);
    }

    function CustomizeParameterEditors(s, e) {
        if (e.parameter.type === 'System.DateTime') {
            e.info.editor = $.extend({}, e.info.editor);
            e.info.editor.extendedOptions = $.extend(e.info.editor.extendedOptions || {}, { type: 'date', displayFormat: 'dd/MM/yyyy', useMaskBehavior: true });
        }
    }
</script>

@*@Html.ActionLink("Enviar reporte", "RepEstadoGananciasPerdidas2KDocePartialExport", "Reps")*@

@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "RepEstadoGananciasPerdidas2KDoce";
    settings.ClientSideEvents.Init = "WebDocumentViewer_Init";
    settings.ClientSideEvents.CustomizeParameterEditors = "CustomizeParameterEditors";

}).Bind(Model).GetHtml()

@*<button onclick="getParams()">Obtener</button>
<script>

    function getParams() {
        var params = document.querySelectorAll(".dx-fieldset input[type=hidden]");
        var strParams = "";

        for (var param of params) {
            if (param.value != null && param.value != "")
                strParams += param.value.toString().replaceAll("-", "").trim();
            else
                strParams += "_"

            strParams += "-";
        }

        strParams = strParams.slice(0, -1);
        console.log(strParams);
    }

</script>*@