<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProfitTM</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/highcharts.js"></script>
    <script src="~/Content/drilldown.js"></script>
    <script src="~/Content/module-exporting.js"></script>
    <script src="~/Content/module-exportdata.js"></script>
    <script src="~/Content/module-accesibility.js"></script>
</head>
<body>
    <div class="container-fluid p-0">
        <main role="main" @*class="pb-3"*@>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer-bottom" style="height: 65px; display: flex;">
        <div class="container">
            &copy; 2021 - <a href="http://cdrconsultores.com/" target="_blank">CDR Consultores C.A.</a></p>
        </div>
    </footer>
    @*@RenderSection("Scripts", required: false)*@
    <script>
        $(document).ready(function () {
            $("g text").css("font-weight", "bold");
            $("g text tspan").css("font-weight", "normal");
        });
    </script>
</body>
</html>