<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProfitTM</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/highcharts.js"></script>
    <script src="~/Content/drilldown.js"></script>
    <script src="~/Content/module-exporting.js"></script>
    <script src="~/Content/module-exportdata.js"></script>
    <script src="~/Content/module-accesibility.js"></script>
</head>
<body>
    <div class="container-fluid p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted footer-bottom">
        <div class="container" style="display: flex;">
            &copy; 2022 - <a href="http://gtsconsultingca.com/" target="_blank" style="margin-left: 5px;">GTS Consulting C.A.</a></p>
        </div>
    </footer>
    @*@RenderSection("Scripts", required: false)*@
    <script>
        /*$(document).ready(function () {
            $("g text").css("font-weight", "bold");
            $("g text tspan").css("font-weight", "normal");
        });*/

        //$(document).on("mousedown", function (event) {

        //    var classes = event.target.classList;

        //    if (!classes.contains("fas") && !classes.contains("menu-item") && !classes.contains("my-dropdown") && !classes.contains("dropdown-item")) {
        //        if ($(".selected")[0] != null) {

        //            if (node != null) {
        //                node.classList.remove("selected");
        //                node = null;
        //            }

        //            var elems = document.getElementsByClassName("my-dropdown");

        //            for (var item of elems) {
        //                $(item).slideUp();
        //            }
        //        }
        //    }
        //});
    </script>
</body>
</html>