@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

/* GENERALES */
*, select option {
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
}
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
body {
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(18,122,209,1) 0%, rgba(62,201,221,1) 100%);
}
body > .container-fluid{
    height: 92.5%;
    position: absolute;
}
body > .container-fluid > main{
    height: 100%;
}
body > .container-fluid > main > header {
    height: 10%;
}
body > .container-fluid > main > header .row {
    height: 100%;
}
body > .container-fluid > main > div.container-fluid {
    height: 90%;
}
body > .footer {
    width: 100%;
    height: 7.5%;
    position: absolute;
    bottom: 0;
    z-index: 200;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
select {
    border: none;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    background: #FFF;
}
select[disabled] {
    background: #DDD;
}
textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.shadow-tm {
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

/* MAIN */
input#username::placeholder, input#pass::placeholder {
    color: white;
}
.footer-bottom {
    background: #FAFAFA;
}

/* DASHBOARD */
.header-left-side {
    background: #01579B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}
.header-left-side a, .header-left-side a:hover {
    text-decoration: none;
    color: #FFF;
}
.header-right-side {
    background: #0277BD;
}
.dash-container {
    display: flex;
    height: 100%;
}
.dash-left-side {
    background: #333;
    flex: 1;
    transition: all 0.5s ease-out;
}
.dash-right-side {
    height: 100%;
    background: #f4f4f8;
    flex: 5;
    overflow-y: auto;
    position: relative;
}
.list-menu {
    padding: 0;
}
.menu-item {
    background: #333;
    padding: 15px;
    color: #FFF;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.menu-item:hover, .selected {
    background: #636363;
    border-left: solid 5px #01579B;
}
.menu-item p {
    display: block;
}
.menu-item i {
    width: 20px;
    font-size: 20px;
}
.menu-item i.fa-caret-up{
    display: none;
    position: absolute;
    top: 35%;
    right: 15px;
}
.icon-menu {
    position: absolute;
    left: 10px;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 20px;
}
.icon-menu:hover {
    background: #1E88E5;
}
.active {
    flex: 0;
}
.active .menu-item p {
    display: none;
}
.user-active {
    width: 20%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    font-size: 15px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.user-active:hover {
    background: #01579B;
}
.user-active .icon-user {
    font-size: 35px;
}
.direct {
    max-width: 300px;
    height: 150px;
    background: #FFF;
    border-radius: 5px;
}
.direct h5 {
    color: #7d7777;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    font-size: 17px;
}
.direct span {
    color: #4f4e4e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.direct i {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    z-index: 0;
}
/*.direct div a {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #FFF;
    text-decoration: none;
    background: rgba(0,0,0,0.4);
    border-radius: 0 0 5px 5px;
    text-align: center;
    padding: 5px;
}*/
.my-dropdown {
    width: 100%;
    background: #212121;
    display: none;
}
.my-dropdown a {
    color: #FFF;
    padding: 20px 40px;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}
.my-dropdown a.disabled {
    color: #dee2e6;
}
.my-dropdown a:hover, .my-dropdown a:visited {
    background: #039BE5;
    color: #FFF;
}
.my-dropdown a i.fas{
    margin-right: 20px;
}
.container-chart{
    background: #FFF;
    padding: 10px 0;
    border-radius: 5px;
}

/* REPORTES */
.reports-container {
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.reports-container select{
    width: 100%;
}
.reports-container form, .reports-container .row{
    height: inherit;
}
.reports-container .row .col-sm-3{
    height: inherit;
    display: flex;
    flex-direction: column;
}
.reports-container .row .col-sm-9{
    height: inherit;
    overflow-y: auto;
}
.reports-container .background{
    height: 100%;
    background: #eee;
    color: #828282;
    border: solid 1px #cccbcb;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}