
@{
    ViewBag.Title = "Cajas";
}

<style>

</style>
<div class="container-fluid">
    <div class="row m-3">
        <div class="col">
            <button class="btn btn-success">Nuevo</button>
        </div>
        <div class="col">
            <h2 class="text-center">Control de Cajas</h2>
        </div>
        <div class="col"></div>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Fecha Apertura</th>
                <th>Fecha Cierre</th>
                <th>Saldo Inicial</th>
                <th>Depósitos</th>
                <th>Retiros</th>
                <th>Ventas</th>
                <th>Saldo en Caja</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>LMMS</td>
                <td>01-12-2022</td>
                <td>02-12-2022</td>
                <td>100.00</td>
                <td>50.00</td>
                <td>30.00</td>
                <td>100.00</td>
                <td>300.00</td>
                <td>ABIERTO</td>
            </tr>
            <tr>
                <td>GSSP</td>
                <td>01-12-2022</td>
                <td>02-12-2022</td>
                <td>100.00</td>
                <td>50.00</td>
                <td>30.00</td>
                <td>100.00</td>
                <td>450.00</td>
                <td>CERRADO</td>
            </tr>
        </tbody>
    </table>
</div>