@{
    ViewBag.Title = "Imprimir Factura";
}

@Html.DevExpress().GetStyleSheets(
    //new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
)
@Html.DevExpress().GetScripts(
    //new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    //new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.Report }
)

<script src="~/Scripts/angular-min.js"></script>
<div class="page-report container-fluid py-3" ng-app="PrintInvoice" ng-controller="controller">
    <div class="w-100">
        <a href="/Ventas/Procesos/Factura" class="btn btn-primary my-2 w-25"><i class="fas fa-arrow-left"></i> Volver al módulo de facturación</a>
        <button type="button" class="btn btn-info" ng-click="printFile()">{{ textPrint }}</button>
    </div>
    @{
        if (!string.IsNullOrEmpty(ViewBag.fact))
        {
            string factura = ViewBag.fact;
            string format = ViewBag.format;
            bool copy = ViewBag.copy == "1";

            @Html.Action(format, "Reps", new { id = factura, c = copy })
        }
        else
        {
            <h2 class="text-center mt-3">No has seleccionado ninguna factura</h2>
        }
    }
</div>
<script>
    var app = angular.module("PrintInvoice", []);
    var id = `@ViewBag.fact`;
    var type = `@ViewBag.type`;
    var copy = `@ViewBag.copy` == "1";

    app.controller("controller", function ($scope, $http) {

        if (copy) {
            $scope.textPrint = "Imprimir Original";
        } else {
            $scope.textPrint = "Imprimir Copia";
        }

        $(document).ready(function () {
            $(".dxrd-image-print").on("click", function (e) {
                $http.get("/api/ProfitTMApi/SetPrintedInvoice/" + id)
                    .then(function (response) {
                        var res = response.data;

                        if (res.Status == "OK") {
                            console.log("impreso con exito");
                        } else {
                            alert("Ha ocurrido un error marcando el registro de la factura como impresa");
                            console.log(res.Message);
                        }
                    });
            });

            $(".dxrd-image-print-page").css("display", "none");
        });

        $scope.printFile = function () {
            if (!copy) {
                location.href = '/Ventas/Procesos/ImprimirFactura?id=' + id.trim() + '&type=' + type.trim() + '&copy=1';
            } else {
                location.href = '/Ventas/Procesos/ImprimirFactura?id=' + id.trim() + '&type=' + type.trim();
            }
        }
    });
</script>