@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

/* GENERALES */
*, select option {
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
}
html {
    font-size: 14px;
    position: relative;
    height: auto;
    min-height: 100%;
}
body {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(18,122,209,1) 0%, rgba(62,201,221,1) 100%);
    position: absolute;
}
body > header {
    flex: 1;
    max-height: 75px;
    position: relative;
}
body > header .row {
    width: 100%;
    height: 100%;
    position: absolute;
}
body > div.container-fluid{
    flex: auto;
    position: relative;
}
body > div.container-fluid > main{
    width: 100%;
    height: 100%;
    position: absolute;
}
body > div.container-fluid > main > div.container-fluid {
    height: 100%;
}
body > .footer {
    width: 100%;
    flex: 1;
    max-height: 75px;
    min-height: 50px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
select {
    border: none;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    background: #FFF;
}
select[disabled] {
    background: #DDD;
}
textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(34, 23, 23, 0.72);
}
.shadow-tm {
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

/* MAIN */
input#username::placeholder, input#pass::placeholder {
    color: white;
}
.footer-bottom {
    background: #FAFAFA;
}

/* DASHBOARD */
.header-left-side {
    background: #01579B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}
.header-left-side a, .header-left-side a:hover {
    text-decoration: none;
    color: #FFF;
}
.header-right-side {
    background: #0277BD;
    position: relative;
}
.header-right-side .dropdown-menu {
    width: 250px;
    text-align: center;
    background: #333;
    border-radius: 0 0 5px 5px;
    border: 2px #aca7a7 solid;
    border-top: 0;
}
.header-right-side .dropdown-menu a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}
.dash-container {
    display: flex;
    height: 100%;
    margin: 0;
}
.dash-left-side {
    background: #333;
    transition: all 0.5s ease-out;
}
.dash-right-side {
    flex: auto;
    height: 100%;
    background: #f4f4f8;
    overflow-y: auto;
    position: relative;
    padding: 0;
}
.list-menu {
    padding: 0;
}
.menu-item {
    background: #333;
    padding: 15px;
    color: #FFF;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.menu-item:hover, .selected {
    background: #636363;
    border-left: solid 5px #01579B;
}
.menu-item p {
    display: block;
    margin-left: 20px;
}
.menu-item i {
    width: 20px;
    font-size: 20px;
}
.menu-item i.fa-caret-up{
    display: none;
    position: absolute;
    top: 35%;
    right: 15px;
}
.icon-menu {
    position: absolute;
    left: 10px;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 20px;
}
.icon-menu:hover {
    background: #1E88E5;
}
.active {
    flex: 0;
}
.active .menu-item p {
    display: none;
}
.user-active {
    width: 40%;
    max-width: 275px;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    font-size: 15px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.user-active:hover {
    background: #01579B;
}
.user-active .icon-user {
    font-size: 35px;
}
col-stat:first-child {
    padding-left: 0;
}

col-stat:last-child {
    padding-right: 0;
}
.direct {
    width: 100%;
    height: 150px;
    background: #FFF;
    border-radius: 5px;
    position: relative;
}
.direct h5 {
    color: #7d7777;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    font-size: 17px;
}
.direct span {
    color: #4f4e4e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    opacity: 0;
}
.direct i:not(.fa-spinner-third) {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    z-index: 0;
}
.direct i.fa-spinner-third {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    color: #4d4b4b;
}
.my-dropdown {
    width: 100%;
    background: #212121;
    display: none;
}
.my-dropdown a {
    color: #FFF;
    padding: 20px 40px;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}
.my-dropdown a.disabled {
    color: #dee2e6;
}
.my-dropdown a:hover, .my-dropdown a:visited {
    background: #039BE5;
    color: #FFF;
}
.my-dropdown a i.fas{
    margin-right: 20px;
}
.container-chart{
    background: #FFF;
    padding: 10px 0;
    border-radius: 5px;
}
.container-chart i.fa-spinner-third {
    max-width: 50px;
    display: block;
    font-size: 50px;
    margin: 0 auto;
    padding: 15px 0;
}

/* REPORTES */
.reports-container {
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.reports-container select{
    width: 100%;
}
.reports-container form, .reports-container .row{
    height: inherit;
}
.reports-container .row .col-sm-3{
    height: inherit;
    display: flex;
    flex-direction: column;
}
.reports-container .row .col-sm-9{
    height: inherit;
    overflow-y: auto;
}
.reports-container .background{
    height: 100%;
    background: #eee;
    color: #828282;
    border: solid 1px #cccbcb;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESPONSIVE */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
@media (min-width: 576px) and (max-width: 728px) {
    body > .container-fluid {
        height: 90%;
    }
    body > .footer {
        height: 10%;
    }
    body > .container-fluid > main > header {
        height: 15%;
    }
    body > .container-fluid > main > div.container-fluid {
        height: 85%;
    }
}