@{
    ViewBag.Title = "Reportes";
    ViewData["home"] = Session["HOME"];
}
<div class="reports-container" ng-app="Reports" ng-controller="controller">
    <form action="/Compras/Reportes/Reporte" method="post">
        <h2 class="text-center my-2">Reportes Compras</h2>
        <div class="row mt-2 p-3">
            <div class="col-sm-12 col-xl-4 col-xxl-3 col-controls">
                <div class="d-flex flex-column align-items-center">
                    <h5>Árbol de Reportes</h5>
                    <select ng-model="tree" ng-change="loadGroup(tree)" ng-disabled="!treeReports">
                        <option value="#">Seleccione Árbol de Reportes...</option>
                        <option ng-repeat="tree in treeReports" value="{{ tree.ID }}">{{ tree.TreeName }}</option>
                    </select>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <h5>Grupo de Reportes</h5>
                    <select ng-model="group" ng-change="loadReport(group)" ng-disabled="tree == '#'">
                        <option value="#">Seleccione Grupo de Reportes...</option>
                        <option ng-repeat="group in groupReports" value="{{ group.ID }}">{{ group.GroupName }}</option>
                    </select>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <h5>Reporte</h5>
                    <select ng-model="report" ng-change="loadButton(report)" ng-disabled="group == '#' || tree == '#'">
                        <option value="#">Seleccione Reporte...</option>
                        <option ng-repeat="report in reports" value="{{ report.ID }}" ng-show="report.IsEnabled">{{ report.ReportName }}</option>
                    </select>
                    <input type="hidden" id="name" name="name" value="" />
                    <input type="hidden" id="format" name="format" value="" />
                </div>
                <div class="d-flex flex-column align-items-center">
                    <button type="button" id="btnSubmit" class="btn btn-primary" onclick="send(this)" style="margin: 15px 0" ng-disabled="!completed">Cargar Reporte</button>
                </div>
            </div>
            <div class="col-sm-12 col-xl-8 col-xxl-9 col-report">
                <div class="background">
                    <h2><i class="fas fa-file m-3"></i> Aquí se mostrará el reporte</h2>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/Scripts/angular-min.js"></script>
<script>
    var app = angular.module("Reports", []);

    app.controller("controller", function ($scope, $http) {

        $scope.tree = "#";
        $scope.group = "#";
        $scope.report = "#";
        $scope.completed = false;

        $http.get("../../api/ProfitTMApi/GetReports/Prod/Admin/Mod/COMP")
            .then(function (response) {

                console.log(response.data);
                $scope.treeReports = response.data.Result;

            });

        $scope.loadGroup = function (tree) {

            if (tree != "#") {
                $scope.groupReports = $scope.treeReports.find(e => e.ID == tree).GroupReports;
            }

            $scope.group = "#";
            $scope.report = "#";
        }

        $scope.loadReport = function (group) {

            if (group != "#") {
                $scope.reports = $scope.groupReports.find(e => e.ID == group).Reports;
            }

            $scope.report = "#";
        }

        $scope.loadButton = function (report) {

            var name = document.getElementById("name");
            var format = document.getElementById("format");

            if (report != "#") {

                $scope.selected = $scope.reports.find(e => e.ID == report);

                name.value = $scope.selected.ReportName;
                format.value = $scope.selected.FormatReport;

                $scope.completed = true;

            } else {
                $scope.completed = false;
            }
        }
    });

    function send(elem) {
        $(elem).prop("disabled", "true");
        $("select").prop("disabled", "true");
        $("form").trigger("submit");
    }

</script>