@{
    ViewData["Title"] = "Dashboard";
    ViewData["home"] = Session["home"];
}
<header class="container-fluid">
    <div class="row" style="height: 60px;">
        <div class="col-sm-2 header-left-side text-white">
            <i class="fas fa-bars icon-menu" id="icon-menu"></i>
            <a href="/Home/@ViewData["home"]">Profit Plus TM</a>
        </div>
        <div class="col-sm-10 header-right-side">
            <div class="user-active" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user icon-user"></i>
                <p class="mb-0">@ViewBag.user</p>
            </div>
            <div style="width: 225px; text-align: center;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a style="text-align: center; text-decoration: none;" href="/Account/Logout">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid p-0">
    <div class="dash-container" id="dash-container">
        <div class="dash-left-side border-right p-0" id="menu-left">
            <ul class="list-menu dropright">
                <li class="menu-item" onclick="print(this)">
                    <i class="fas fa-globe"></i>
                    <p class="mb-0 ml-3">General</p>
                </li>
                <div class="myDropdown">
                    <a class="dropdown-item disabled" href="#"><i class="fas fa-table"></i>  Tablas</a>
                    <a class="dropdown-item disabled" href="#"><i class="fas fa-sync-alt"></i>  Procesos</a>
                    <a class="dropdown-item" href="/General/Reportes/"><i class="fas fa-file"></i>  Reportes</a>
                </div>
                <li class="menu-item" onclick="print(this)">
                    <i class="fas fa-money-check-alt"></i>
                    <p class="mb-0 ml-3">Financiera</p>
                </li>
                <div class="myDropdown">
                    <a class="dropdown-item disabled" href="#"><i class="fas fa-table"></i>  Tablas</a>
                    <a class="dropdown-item disabled" href="#"><i class="fas fa-sync-alt"></i>  Procesos</a>
                    <a class="dropdown-item" href="/Ventas/Reportes/Index"><i class="fas fa-file"></i>  Reportes</a>
                </div>
                <li class="menu-item" onclick="print(this)">
                    <i class="fas fa-landmark"></i>
                    <p class="mb-0 ml-3">Fiscal</p>
                </li>
                <div class="myDropdown">
                    <a class="dropdown-item disabled" href="#"><i class="fas fa-table"></i>  Tablas</a>
                    <a class="dropdown-item disabled" href="#"><i class="fas fa-sync-alt"></i>  Procesos</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-file"></i>  Reportes</a>
                </div>
                <li class="menu-item" onclick="print(this)">
                    <i class="fas fa-file-contract"></i>
                    <p class="mb-0 ml-3">Prop., Plata y Equ.</p>
                </li>
                <div class="myDropdown">
                    <a class="dropdown-item disabled" href="#"><i class="fas fa-table"></i>  Tablas</a>
                    <a class="dropdown-item disabled" href="#"><i class="fas fa-sync-alt"></i>  Procesos</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-file"></i>  Reportes</a>
                </div>
                <li class="menu-item" onclick="print(this)">
                    <i class="fas fa-file-invoice-dollar"></i>
                    <p class="mb-0 ml-3">Presupuesto</p>
                </li>
                <div class="myDropdown">
                    <a class="dropdown-item disabled" href="#"><i class="fas fa-table"></i>  Tablas</a>
                    <a class="dropdown-item disabled" href="#"><i class="fas fa-sync-alt"></i>  Procesos</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-file"></i>  Reportes</a>
                </div>
                <li class="menu-item">
                    <i class="fas fa-cog fa-spin"></i>
                    <p class="mb-0 ml-3">Configuración</p>
                </li>
            </ul>
        </div>
        <div class="dash-right-side">
            <div class="container-fluid" style="padding: 5px 40px">
                <h2 class="mt-2">Estadísticas</h2>
                <div class="row mt-3">
                    <div class="col-sm-3 direct">
                        <div class="col-md-12 shadow rounded">
                            <h4>Inventario</h4>
                            <i class="fas fa-box"></i>
                            <a href="Inventario">Ir a Inventario <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3 direct">
                        <div class="col-md-12 shadow rounded">
                            <h4>Ventas</h4>
                            <i class="fas fa-dollar-sign"></i>
                            <a href="Ventas">Ir a Ventas <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3 direct">
                        <div class="col-md-12 shadow rounded">
                            <h4>Compras</h4>
                            <i class="fas fa-tags"></i>
                            <a href="Compras">Ir a Compras <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3 direct">
                        <div class="col-md-12 shadow rounded">
                            <h4>Configuración</h4>
                            <i class="fas fa-cog fa-spin"></i>
                            <a href="#">Ir a Configuración <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>
@* Aqui empieza el script del PIECHART *@
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    var names = document.getElementsByName("nameSelled"), stocks = document.getElementsByName("stockSelled");
    var arrayChartSelled = [["Producto", "Cantidad"]];

    for (let i = 0; i < 5; i++) {
        arrayChartSelled.push([names[i].innerHTML, parseInt(stocks[i].innerHTML)]);
    }

    function drawChart() {

        var data = google.visualization.arrayToDataTable(arrayChartSelled);

        var options = {
            is3D: true,
            height: 350,
            chartArea: {
                width: "75%",
                height: 250,
                bottom: 20
            },
            legend: {
                position: "top",
                alignment: "center",
                maxLines: 5,
                textStyle: {
                    fontName: "Verdana"
                }
            },
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
@* Aqui termina el script del PIECHART *@
@* Aqui empieza el script del COLUMNCHART *@
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawBasic);

    var names = document.getElementsByName("namePurchased"), stocks = document.getElementsByName("stockPurchased");
    var arrayChartPurchased = [["Producto", "Cantidad", { role: "annotation" }, { role: "style" }]];

    var colors = ["#3366cc", "#dc3912", "#ff9900", "#109618", "#990099"];

    for (let i = 0; i < 5; i++) {
        arrayChartPurchased.push([names[i].innerHTML, parseInt(stocks[i].innerHTML), parseInt(stocks[i].innerHTML), colors[i]]);
    }

    function drawBasic() {

        var data = google.visualization.arrayToDataTable(arrayChartPurchased);

        var options = {
            annotations: {
                textStyle: {
                    fontName: "Verdana",
                    bold: true
                },
            },
            width: "100%",
            height: 400,
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
            hAxis: {
                textStyle: {
                    fontName: "Verdana"
                }
            },
            vAxis: {
                textStyle: {
                    fontName: "Verdana"
                }
            },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart"));
        chart.draw(data, options);
    }
</script>
@* Aqui termina el script del COLUMNCHART *@
@* Aqui empieza el script del DONUTCHART *@
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawDonut);

    var names = document.getElementsByName("nameActive"), amounts = document.getElementsByName("amountActive");
    var arrayChartActive = [["Cliente", "Total"]];

    for (let i = 0; i < 5; i++) {
        arrayChartActive.push([names[i].innerHTML, parseFloat(amounts[i].innerHTML.replace(",", "."))]);
    }

    function drawDonut() {

        var data = google.visualization.arrayToDataTable(arrayChartActive);

        var options = {
            height: 350,
            chartArea: {
                width: "75%",
                height: 250,
                bottom: 20
            },
            legend: {
                position: "top",
                alignment: "center",
                maxLines: 5,
                textStyle: {
                    fontName: "Verdana"
                }
            },
            pieHole: 0.5
        };

        var chart = new google.visualization.PieChart(document.getElementById("donutchart"));
        chart.draw(data, options);
    }
</script>
@* Aqui termina el script del DONUTCHART *@
@* Aqui empieza el script del BARCHART *@
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    var names = document.getElementsByName("nameMorous"), stocks = document.getElementsByName("amountMorous");
    var arrayChartMorous = [["Cliente", "Total"]];

    for (let i = 0; i < 5; i++) {
        arrayChartMorous.push([names[i].innerHTML, parseInt(stocks[i].innerHTML)]);
    }

    function drawChart() {

        var data = google.visualization.arrayToDataTable(arrayChartMorous);

        var options = {
            is3D: true,
            height: 350,
            chartArea: {
                width: "75%",
                height: 250,
                bottom: 20
            },
            legend: {
                position: "top",
                alignment: "center",
                maxLines: 5,
                textStyle: {
                    fontName: "Verdana"
                }
            },
        };

        var chart = new google.visualization.PieChart(document.getElementById('barchart'));

        chart.draw(data, options);
    }
</script>
@* Aqui termina el script del BARCHART *@
@* Aqui empieza el script del ROWCHART *@
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawBasic);

    var names = document.getElementsByName("nameActiveS"), amounts = document.getElementsByName("amountActiveS");
    var arrayChartActiveS = [["Proveedor", "Total", { role: "annotation" }, { role: "style" }]];

    var colors = ["#3366cc", "#dc3912", "#ff9900", "#109618", "#990099"];

    for (let i = 0; i < 5; i++) {
        arrayChartActiveS.push([names[i].innerHTML, parseInt(amounts[i].innerHTML), parseInt(amounts[i].innerHTML), colors[i]]);
    }

    function drawBasic() {

        var data = google.visualization.arrayToDataTable(arrayChartActiveS);

        var options = {
            annotations: {
                textStyle: {
                    fontName: "Verdana",
                    bold: true
                },
                alwaysOutside: true
            },
            width: "100%",
            height: 400,
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
            hAxis: {
                textStyle: {
                    fontName: "Verdana"
                }
            },
            vAxis: {
                textStyle: {
                    fontName: "Verdana"
                }
            },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById("rowchart"));
        chart.draw(data, options);
    }
</script>
@* Aqui termina el script del ROWCHART *@
@* Aqui empieza el script del ROUNDCHART *@
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawDonut);

    var names = document.getElementsByName("nameMorousS"), amounts = document.getElementsByName("amountMorousS");
    var arrayChartMorousS = [["Proveedor", "Total"]];

    for (let i = 0; i < 5; i++) {
        arrayChartMorousS.push([names[i].innerHTML, parseFloat(amounts[i].innerHTML.replace(",", "."))]);
    }

    function drawDonut() {

        var data = google.visualization.arrayToDataTable(arrayChartMorousS);

        var options = {
            height: 350,
            chartArea: {
                width: "75%",
                height: 250,
                bottom: 20
            },
            legend: {
                position: "top",
                alignment: "center",
                maxLines: 5,
                textStyle: {
                    fontName: "Verdana"
                }
            },
            pieHole: 0.5
        };

        var chart = new google.visualization.PieChart(document.getElementById("roundchart"));
        chart.draw(data, options);
    }
</script>
@* Aqui termina el script del ROUNDCHART *@

<script>
    var btn = document.getElementById("icon-menu");
    var menu = document.getElementById("menu-left");
    var node = null;

    window.onload = function () {
        var dash = document.getElementById("dash-container");
        dash.style.height = (window.screen.availHeight - 196) + "px";

        var drops = document.getElementsByClassName("myDropdown");

        for (var drop of drops) {
            drop.style.height = (window.screen.availHeight - 196) + "px";
        }
    }

    btn.addEventListener("click", hide);

    function print(elem) {
        var elems = document.getElementsByClassName("myDropdown");

        for (var item of elems) {
            //item.style.display = "none";
            $(item).animate({ width: 'hide' });
        }

        if (node != null) {
            node.classList.remove("selected");
        }

        elem.classList.add("selected");

        if (node != elem) {

            $(elem).next().animate({ width: 'show' });
            $(elem).next().css("display", "flex");
            $(elem).next().css("flex-direction", "column");
            //elem.nextElementSibling.style.display = "flex";
            //elem.nextElementSibling.style.flexDirection = "column";
            menu.classList.add("active");
            node = elem;

        } else {

            node.classList.remove("selected");
            menu.classList.remove("active");
            node = null;

        }
    }

    function hide() {
        menu.classList.toggle("active");

        var elems = document.getElementsByClassName("myDropdown");

        for (var item of elems) {
            //item.style.display = "none";
            $(item).animate({ width: 'hide' });
        }
    }
</script>