@{
    ViewData["TITLE"] = "Seleccion de Aplicativo";
}
<style>
    body > header {
        display: none;
    }
    body > .container-fluid > main {
        overflow-y: auto;
    }
    .box {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    .container-title {
        flex: 1;
        height: 15%;
        padding: 0 5%;
        display: flex;
        align-items: center;
    }
    .container-title h2{
        margin: 0;
    }
    form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;
    }
    .container-cards{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex: 4;
    }
    .card-prod {
        width: 100%;
        max-width: 400px;
        height: 200px;
        background: #2980b9;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        margin: 10px;
    }
    .card-prod.selected-card{
        outline: solid #FFF 5px;
    }
    .card-prod img{
        width: 150px;
        height: 150px;
    }
    .card-prod h3{
        color: #FFF;
    }
    .col-md-12 {
        flex: 1;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn.btn-primary {
        width: 100%;
        max-width: 600px;
        padding: 20px 0;
    }
    @@media (max-width: 789px){
        .container-title {
            padding: 5%;
            justify-content: center;
        }
        .container-cards{
            padding: 15px;
        }
        .card-prod {
            height: 150px;
            margin: 10px 0;
        }
        .card-prod img {
            width: 100px;
            height: 100px;
        }
    }
</style>
<div class="box">
    <div class="container-title">
        <h2 class="text-white">Seleccionar Producto</h2>
    </div>
    <form action="/Home/SeleccionEmpresa" method="get">
        <div class="container-cards">
            @{
                if (ViewBag.user.IsAdm)
                {
                    <div class="card-prod shadow-lg" id="ADM">
                        <img src="~/images/Logo-adm.png" />
                        <h3>Administrativo</h3>
                    </div>
                }
                if (ViewBag.user.IsCon)
                {
                    <div class="card-prod shadow-lg" id="CON">
                        <img src="~/images/Logo-con.png" />
                        <h3>Contabilidad</h3>
                    </div>
                }
                if (ViewBag.user.IsNom)
                {
                    <div class="card-prod shadow-lg" id="NOM">
                        <img src="~/images/Logo-nom.png" />
                        <h3>Nomina</h3>
                    </div>
                }
            }
        </div>
        <input type="hidden" id="prod" name="prod" value="" />
        <div class="col-md-12 text-center">
            <button type="button" id="btn-send" class="btn btn-primary" onclick="send(this)" disabled>Seleccionar aplicativo</button>
        </div>
    </form>
</div>
<script>
    var submitted = false;

    $(document).ready(function () {
        $(".card-prod").hide().fadeIn(1500);
    });

    $(".card-prod").click(function () {
        if (!submitted) {
            $(".card-prod.selected-card").removeClass("selected-card");
            $(this).addClass("selected-card");
            $("#prod").val(this.id);

            if ($("#btn-send").prop('disabled'))
                $("#btn-send").prop('disabled', false)
        }
    });

    function send(elem) {
        $(elem).prop("disabled", "true");
        $("form").trigger("submit");
        submitted = true;
    }
</script>